@mixin font($type) {
  font-size: var(--fs-#{$type});
  letter-spacing: var(--ls-#{$type});
  line-height: var(--lh-#{$type});

  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(var(--lh-#{$type}) - .25rem);
  }
}

.text {
  margin: 0;
  padding: 0;
  color: var(--text-primary);

  & img.emoji,
  & img[data-mx-emoticon] {
    margin: 0 !important;
    margin-right: 2px !important;
    padding: 0 !important;
    position: relative;
    top: -.1rem;
    vertical-align: middle;
  }
}

.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: 600;
}

.text-h1 {
  // @include font(h1);
  font-size: 2.5714em;
  letter-spacing: -1.5px;
  line-height:2.7143em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(2.7143rem - .25rem);
  }

}
.text-h2 {
  // @include font(h2);
  font-size: 1.7143em;
  letter-spacing: -0.5px;
  line-height:2.1429em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(2.1429rem - .25rem);
  }

}
.text-s1 {
  // @include font(s1);
  font-size: 1.2857em;
  letter-spacing: -0.2px;
  line-height:1.7143em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(1.7143rem - .25rem);
  }

}
.text-b1 {
  // @include font(b1);
  font-size: 1.1429em;
  letter-spacing:0.1px;
  line-height:1.7143em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(1.7143rem - .25rem);
  }

}
.text-b2 {
  // @include font(b2);
  font-size: 1em;
  letter-spacing:0.2px;
  line-height:1.4286em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(1.4286rem - .25rem);
  }

}
.text-b3 {
  // @include font(b3);
  font-size:  0.85714em;
  letter-spacing:0px;
  line-height:1.1429em;
  color: var(--text-primary);
  & img.emoji,
  & img[data-mx-emoticon] {
    height: calc(1.1429rem - .25rem);
  }

}