.settings {
  background-color: var(--background);
  color: var(--text-primary);
  width: 100%;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size);
}
.switchTheme {
  position: absolute;
  right: 0;
  top: 0;
}
.switchTheme2 {
  position: relative;
}
.settingsContainer {
  flex: 18;
  height: fit-content;
  min-height: 100vh;
  overflow-y: hidden;
}
.head {
  margin: 15px 15px 0 15px;
}
.settingsHeadingPart {
  font-size: 2.5em;
  font-weight: 400;
}
.settingsOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--dividers);
  padding-bottom: 10px;
  overflow-y: scroll;
}

.optionStyle {
  font-size: 1.15em;
  cursor: pointer;
  font-weight: bold;
}
.optionStyle:hover {
  color: var(--accent);
}

.sideBar {
  height: 100vh;
}

.hedaingPart {
  margin-left: 4%;
  margin-top: 2%;
  font-weight: 400;
  font-size: 2.5em;
}
.hide {
  display: none;
}
.settingsOptions {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--dividers);
  padding-bottom: 10px;
}
.menuContainer {
  margin-top: 3%;
  width: 50%;
  align-items: center;
}
.backgroundTheme {
  padding-bottom: 30px;
}
.menuContainerBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colorSelect {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
}
.colorContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.darkModeContainer {
  background: var(--input-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.light {
  background: #fff;
  width: 25%;
  height: 45px;
  text-align: center;
  color: #000;
  border-radius: 7px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.dark {
  background: #000;
  color: white;
  width: 25%;
  height: 45px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

/* ----------------- account & privacy------------------------*/
.profileHeading {
  font-size: 1.1em;
  color: var(--accent);
  font-weight: bolder;
}
.warningNote {
  font-size: 1em;
  opacity: 0.5;
  line-height: 18px;
  margin-top: 20px;
}
.profileName,
.userName,
.about,
.bio {
  margin-top: 25px;
  border-bottom: 1px solid var(--dividers);
}
.usernameLabel,
.profileNameLabel,
.aboutLabel,
.bioLabel {
  font-size: 1em;
}

.inputField {
  width: 90%;
}
input {
  background: var(--background);
  width: 100%;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.editing,
.saving {
  margin-left: auto;
  float: right;
  cursor: pointer;
}
.nameContainer,
.usernameContainer,
.aboutContainer,
.bioContainer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*-----------------  General settings --------------------*/
.generalHead {
  font-size: 1.1em;
  color: var(--accent);
  font-weight: bold;
}
.messageTextSize {
  margin-top: 15px;
}
.timeLabel,
.colorLabel,
.background {
  margin-top: 25px;
  font-size: 1em;
}

.contentOne,
.contentThree,
.contentFour,
.timeFormat {
  border-bottom: 1px solid var(--dividers);
  padding: 5px;
}

/*------slider ------*/
.rangeSlider,
.sliderFillTrack {
  width: 100%;
  left: 0;
  top: 0.3125em;
  height: 0.125em;
  background-color: var(--accent);
  border-radius: 0.125em;
  pointer-events: none;
}

.sliderMain {
  position: relative;
  border-top: 25%;
}
/*----------------- help   -------------------------*/
.helpHeading {
  font-size: 1.1em;
  color: var(--accent);
  font-weight: bolder;
}
.circleLogo {
  position: relative;
  margin-top: 15px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: var(--accent);
  margin-left: 30%;
}
.helpOptions {
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

.helpCenter,
.contactUs,
.privacy {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-top: auto;
  border-bottom: 1px solid var(--dividers);
  width: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.helpCenter:hover {
  background: var(--input-bg);
}
.contactUs:hover {
  background: var(--input-bg);
}
.privacy:hover {
  background: var(--input-bg);
}

.labels {
  margin-left: 12%;
  font-size: 1em;
}
.version {
  margin-top: 15px;
  font-size: 0.8em;
  margin-left: 38%;
}

/*-------------- notification  ---------------*/

.notificationHeading {
  font-size: 1.1em;
  color: var(--accent);
  font-weight: bolder;
}
.NotificationOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desktopNotification,
.unreadMessageBadge {
  margin-top: 25px;
  font-size: 1em;
}
.notificationToggle {
  margin-top: 20px;
}
.desktopNotificationMessage {
  font-size: 0.9em;
  opacity: 0.3;
  width: 90%;
}
.desktopNotificationModule,
.unreadMessageBageModule {
  border-bottom: 1px solid var(--dividers);
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}
