.settings {
  background-color: var(--background);
  color: var(--text-primary);
  width: 100%;
  height: 100vh;
  transition: all .5s ease-in-out;
  display: flex;
  flex-direction: row;
}
.switchTheme{
  position: absolute;
  right: 0;
  top: 0;
}
.switchTheme2{
  position: relative;
}
.settingsContainer{
    flex: 18; 
}
.head{
  margin: 15px 15px 0 15px;
}
.settingsHeadingPart{
  font-size: 48px;
  font-weight: 400;
}
.settingsOptions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--dividers);
  padding-bottom:10px
}

.optionStyle{
  font-size: 1.15rem;
  cursor: pointer;
  font-weight: bold;
}
.optionStyle:hover{
  color: var(--accent);
}

.sideBar {
	flex: 1;
	border-right: 1px solid var(--dividers);
}


.hedaingPart {
  margin-left: 4%;
  margin-top: 2%;
  font-weight: 400;
  font-size: 48px;
}
.hide {
  display: none;
}
.settingsOptions {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid var(--dividers);
  padding-bottom: 10px;
}
.menuContainer {

  margin-top: 3%;
  width: 50%;
  align-items: center;
  

}
.menuContainerBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ----------------- account & privacy------------------------*/
.profileHeading{
  font-size: 1.1rem;
  color: var(--accent);
  font-weight: bolder;
}
.warningNote {
  font-size: 1rem;
  opacity: 0.5;
  line-height: 18px;
  margin-top: 20px;
}
.profileName,.userName,.about,.bio {
  margin-top: 25px;
  border-bottom: 1px solid var(--dividers);
}
.usernameLabel, .profileNameLabel,.aboutLabel,.bioLabel{
  font-size: 1rem;
}

.inputField{
  width: 90%;
}
input{
  background: var(--background);
  width: 100%;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}


.editing,
.saving {
  margin-left: auto;
  float: right;
  cursor: pointer;
}
.nameContainer,.usernameContainer,.aboutContainer,.bioContainer{
  margin-top: auto;
  display: flex;
  flex-direction: row;
}
.profileForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hide{
    display: none;
}


/*-----------------  General settings --------------------*/
.generalHead {
  font-size: 1.1rem;
  color: var(--accent);
  font-weight: bold;
}
.messageTextSize {
  margin-top: 15px;
  font-size: 1rem;
}
.timeLabel,
.colorLabel,
.background {
  margin-top: 25px;
  font-size: 1rem;
}

.colorSelect{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}
.colorContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.darkModeContainer {
  background: var(--accent);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-top: 10px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.light {
  background: #fff;
  width: 25%;
  height: 45px;
  text-align: center;
  color: #000;
  border-radius: 7px;
  justify-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark{
    background: #000;
    width: 25%;
    height: 45px;
   text-align: center;
   border-radius: 7px;
   justify-content: center;
   cursor: pointer;
}

.contentOne,.contentThree,.contentFour,.timeFormat{
    border-bottom:  1px solid var(--dividers);
    padding:5px;
}

/*------slider ------*/
.rangeSlider ,.sliderFillTrack {
    width: 100%;
    left: 0;
    top: 0.3125rem;
    height: 0.125rem;
    background-color: var(--accent);
    border-radius: 0.125rem;
    pointer-events: none;
}

.sliderMain{
    position: relative;
    border-top:25%;
}
/*----------------- help   -------------------------*/
.helpHeading {
  font-size: 1.1rem;
  color: var(--accent);
  font-weight: bolder;
}
.circleLogo {
  position: relative;
  margin-top: 15px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: var(--accent);
  margin-left: 30%;
}
.helpOptions {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.helpCenter,.contactUs,.privacy{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: auto;
    border-bottom: 1px solid var(--dividers);
    width: 35%;
    padding-top: 15px;
    padding-bottom:15px ;
    cursor: pointer;
    
}
.helpCenter:hover{
    background: var(--input-bg);
}
.contactUs:hover{
    background: var(--input-bg);
}
.privacy:hover{
    background: var(--input-bg);
}

.labels {
  margin-left: 12%;
  font-size: 1rem;
}
.version {
  margin-top: 15px;
  font-size: 0.8rem;
  margin-left: 38%;
}

/*-------------- notification  ---------------*/

.notificationHeading {
  font-size: 1.1rem;
  color: var(--accent);
  font-weight: bolder;
}
.NotificationOption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desktopNotification,
.unreadMessageBadge {
  margin-top: 25px;
  font-size: 1rem;
}
.notificationToggle {
  margin-top: 20px;
}
.desktopNotificationMessage {
  font-size: 0.9rem;
  opacity: 0.3;
  width: 90%;
}
.desktopNotificationModule,
.unreadMessageBageModule {
  border-bottom: 1px solid var(--dividers);
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}
