.toggleSettings {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4px;
}
.titleAndContent {
	display: flex;
	flex-direction: column;
	padding: 16px;
}
.toggleButton {
	padding: 16px 16px 0 0;
}