.content{
    padding: 10px 50px 0 50px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
.bgWrap {
  flex: 1.2;
  background-image: url("https://images.unsplash.com/photo-1590418606746-018840f9cd0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-position: 0% 70%;
  background-size: 160%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes showSlowly {
  100%{
    opacity: 1;
  }
}
.brandTitle {
  font-weight: 300;
  padding-left: 10px;
  color: white;
  opacity: 0;
  animation: showSlowly 3s ease;
  animation-fill-mode: forwards;
}
.p {
  margin: 0;
  padding-left: 10px;
  color: white;
}
.powered {
  font-weight: 300;
  padding: 10px;
  color: white;
  position: absolute;
  bottom: 0;

  opacity: 0;
  animation: showSlowly 3s ease;
  animation-fill-mode: forwards;
}
.powered a {
  color: white;
  text-decoration: none;
}
.title {
  padding: 10px 10px 0 0;
  color: white;
}
.authWrapper {
  flex: 0.8;
}
.authCard {
  width: 100%;
  background-color: #121212;
  height: 100vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(3, 150, 158);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main {
  display: flex;
  flex-direction: column;
}
.bottomBorder{
    width: 100%;
    height: .5px;
    margin: 20px 0 20px 0;
    background-color: #434343;
}
.dConvosLogo {
  margin-top: 1000px;
  margin-left: -5px;
  opacity: 0.1;
}
.heading {
  color: white;
}
.homeservers {
  padding-left: 5px;
  font-size: 12px;
  color: white;
}
.loadingServer {
  color: white;
  font-size: 0.9rem;
  margin-left: 5px;
}
.authHeading {
  margin: 0;
  display: flex;
}
.ssoDivider {
  opacity: 0.6;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}
.switchAuth {
  padding: 10px;
  opacity: 0.8;
  font-size: 0.8rem;
  text-align: center;
  color: white;
}
.authButton {
  padding: 30px 0 20px 0;
  display: flex;
  justify-content: center;
}
