.settingsAppearanceCard {
	margin: 16px 0;
	background-color: var(--bg-surface);
	border-radius: var(--bo-radius);
	box-shadow: var(--bs-surface-border);
	overflow: hidden;
}
.helpOptions {
	display: flex;
	flex-direction: row;
	column-gap: 12px;
	padding: 15px;
}
.circleGif {
	background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23000000' fill-opacity='0.31' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
	object-fit: cover;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	background-color: var(--accent);
}
.helpContainer {
	margin-top: 20px;
}
.helpCenter,
.helpContact,
.HelpTerms {
	cursor: pointer;
}
.sliderMain {
	width: 100%;
	display: grid;
	grid-row: auto;
	padding: 0px 80px 0px 80px;
	align-items: center;
}

.helpsIcons {
	margin-top: 2px;
}
.colorContainer {
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.colorSelect {
	width: 70px;
	height: 50px;
	border-radius: 6px;
	margin: 10px;
	cursor: pointer;
}
.menuHeader {
	height: 34px;
	padding: 24px 16px 24px 16px;
	margin-bottom: 4px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--bg-surface-border);
}
.toggleSettings {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4px;
}
.darkThemeSelect {
	padding: 16px;
}
.toggleButton {
	padding: 16px 16px 0 0;
}
.titleAndContent {
	display: flex;
	flex-direction: column;
	padding: 16px;
}
.logoutbutton {
	background: rgba(237, 6, 6, 0.597);
    width: 150px;
	padding: 8px;
	cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.settingsOptions{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.tabContent{
    padding: 16px;
}
.tabOption{
    padding: 10px;
    /* border-radius: 5px; */
    
}
.tabOption:hover{
	color: var(--accent);
}
.tabOption:focus{
    border-bottom: 3px solid var(--accent);
}


.settingsAppearanceCard,
.settingsNotifications,
.settingsSecurityCard,
.settingsSecurity,
.settingsHelp{
	margin: var(--sp-normal) 0;
	background-color: var(--bg-surface);
	border-radius: var(--bo-radius);
	box-shadow: var(--bs-surface-border);
	overflow: hidden;
}
.versionInfo{
	padding-top: 16px;
	padding-left: 45%;
}
.settingsWindow{
	background-color: var(--bg-surface-low);
}
.settingsWindowContent{
	background-color: var(--bg-surface-low);
}

.profileEditor{
	padding: var(--sp-loose) var(--sp-extra-loose);
}
.comingSoon{
	color: var(--accent-light);
	font-style: italic;
	font-size: 10px;
}