.option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding: 0px 16px 0px 16px;
}
.option:hover{
    background-color: rgba(43, 55, 55, 0.266);
}
.iconAndLabel{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
.label{
    padding-top: 2px;
    padding-left: 10px;
    color: var(--text-primary);
}