.container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.all{
  border-right: 1px solid var(--dividers);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.container * {
  margin: 10px;
  cursor: pointer;
  opacity: 0.9;
}
.container *:hover {
  background-color: var(--dividers);
  border-radius: 20px;
  transition: all 0.2s ease;
}
.settings {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings * {
  margin: 10px;
  cursor: pointer;
  opacity: 0.9;
}
.settings *:hover {
  background-color: var(--dividers);
  border-radius: 20px;
  transition: all 0.2s ease;
}
